	<div ng-controller="ModalDemoCtrl">
        <div class="modal-header">
				<h3 class="modal-title">Form Details</h3>
		</div>
		<div class="modal-body">{{defect.description}}
				<form name="form" class="css-form" id="form" novalidate>
					<div class="form-group">
					<label for="inputDesc" class="col-sm-2 control-label label-width">Description</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="description" placeholder="Description" ng-model="defect.description"/>
					</div>
					</div>
					
					<div class="form-group">
					<label for="inputDateRaised" class="col-sm-2 control-label label-width">Date Raised</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="date_raised" placeholder="DD/MM/YYYY" ng-model="defect.date_raised"/>
					</div>
					</div>
					
					<div class="form-group">
					<label for="inputDateDelivered" class="col-sm-2 control-label label-width">Date Delivered</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="date_delivered" placeholder="DD/MM/YYYY" ng-model="defect.date_delivered"/>
					</div>
					</div>
					
					<div class="form-group">
					<label for="inputPriority" class="col-sm-2 control-label label-width">Priority</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="priority" placeholder="Enter priority" ng-model="defect.priority"/>
					</div>
					</div>
					
					<div class="form-group">
					<label for="inputComments" class="col-sm-2 control-label label-width">Comments</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="cognizant_comments" placeholder="Enter Comments" ng-model="defect.comments"/>
					</div>
					</div>
					
					<div class="form-group">
					<label for="inputStatus" class="col-sm-2 control-label label-width">Status</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="status" placeholder="Enter Defect Status" ng-model="defect.status"/>
					</div>
					</div>
					
					<div class="form-group">
					<label for="inputAssignedTo" class="col-sm-2 control-label label-width">Assigned To</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="assigned_to" placeholder="Enter Assigned To" ng-model="defect.assigned_to"/>
					</div>
					</div>
					
					<div class="form-group">
					<label for="inputETA" class="col-sm-2 control-label label-width">ETA</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="ETA" placeholder="DD/MM/YYYY" ng-model="defect.ETA"/>
					</div>
					</div>
					
					<div class="form-group">
					<label for="inputCategory" class="col-sm-2 control-label label-width">Category</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" id="category" placeholder="Enter category" ng-model="defect.category"/>
					</div>
					</div>
					
						<div class="form-group">
					<label for="inputAttach" class="col-sm-2 control-label label-width">Attachment</label>
					<div class="col-sm-10">
					<input type="file" class="form-control" id="attachment" placeholder="Select File" ng-model="defect.attachment"/>
					</div>
					</div>
				
					
				</form>	
				</div>
				<div class="clearfix"></div>
	 	<div class="modal-footer">
					<button class="btn btn-primary" ng-click="submit(defect)">Submit</button>
					<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				</div> 		
    </div>